*.parkobj
rct2/**/output/object.obj

#Hidden folders/files
.*/
.*
!.gitignore

# Blender Autosave files
*.blend1


#OS special files
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk